* {
  padding: 0;
  margin: 0;
}

body,
html {
  background-image: url(https://previews.123rf.com/images/balabolka/balabolka1804/balabolka180400103/99260149-cartoon-cute-doodles-hand-drawn-soccer-illustration.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.block {
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
  color: white;
  background-color: black;
  border-radius: 50px;
}

#set {
  color: white;
  background-color: black;
  border-radius: 7px;
  height: 23px;
}

#type {
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: black;
  border-radius: 7px;
  height: 25px;
}

#mod,
#Unvalue {
  color: black;
  background-color: white;
  border-radius: 7px;
  height: 23px;
  width: 50px;
}

#op {
  color: black;
  background-color: white;
  border-radius: 7px;
  height: 23px;
  width: 150px;
}

.cool_font {
  font-family: "Rampart One", cursive;
}

.outputs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.outputs img {
  width: 35px;
  padding-top: 5px;
}

h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 5px solid gray;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  /* border-radius: 20px; */
  padding: 8px 0px;
  font-size: 40px;
  color: black;
  background-color: white;
  font-family: "Rampart One", cursive;
  border-radius: 30px;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin: 8px 15px;
  /* margin: 5px 5px; */
}

.submitButton {
  font-family: "Kaisei HarunoUmi", serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  color: black;
  background-color: rgba(255, 255, 255, 0.932);
  border-radius: 10px;
  width: 115px;
  height: 35px;
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
  cursor: pointer;
}

#check {
  min-height: 60px;
}

.submitButton:hover {
  background-color: white;
  margin-top: 8px;
  margin-left: 8px;
}

#cayleyTable {
  /* table-layout: auto; */
  border: 3px solid black;
  border-radius: 8px;
  width: 300px;
}

#topHeader {
  color: red;
  width: 300px;
  border: 3px solid black;
  border-radius: 8px;
}

td,
th {
  border: 1px solid grey;
  text-align: center;
  padding: 10px;
}

#leftHeader,
#zip {
  color: red;
  width: 7px;
  border: 3px solid black;
  border-radius: 5px;
  widows: 50px;
}

.tableart {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 100%;
  color: black;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.945);
  margin-top: 10px;
  padding: 2px 0px;
}

.footer p,
a {
  font-size: 14px;
}

a {
  text-decoration: none;
  background-color: rgb(43, 40, 40);
  color: white;
  border-radius: 7px;
  padding: 10px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

a:hover {
  background-color: black;
  border-radius: 7px;
  padding: 10px 20px;
  margin-top: 4px;
  margin-bottom: 5px;
  margin-left: 8px;
}

h2 {
  margin: 5px 5px;
  display: flex;
  justify-content: center;
}

#hide {
  display: none;
}

#custom_hide {
  display: none;
}

#mod_hide {
  display: none;
}

ul {
  align-items: center;
}

ul li {
  font-size: 20px;
  margin: 8px 35px;
}

h3 {
  font-size: 23px;
  display: flex;
  margin: 5px 5px;
  justify-content: center;
}

.bottom {
  margin-bottom: 14px;
}

#Un {
  display: none;
}
