* {
  padding: 0;
  margin: 0;
}

.cool_font {
  font-family: "Rampart One", cursive;
}

.outputs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.outputs img {
  width: 35px;
  padding-top: 5px;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0px 0px;
  /* border-radius: 20px; */
  padding: 8px 18px;
  font-size: 40px;
  color: white;
  background-color: black;
  font-family: "Rampart One", cursive;
}

p {
  font-size: 20px;
  margin: 8px 15px;
  /* margin: 5px 5px; */
}

.submitButton {
  margin: 13px 5px;
  font-size: larger;
  color: white;
  background-color: black;
  border-radius: 10px;
  width: 130px;
  height: 40px;
}

#cayleyTable {
  /* table-layout: auto; */
  border: 3px solid black;
  border-radius: 8px;
  width: 300px;
}

#topHeader {
  color: red;
  width: 300px;
  border: 3px solid black;
  border-radius: 8px;
}

td,
th {
  border: 1px solid grey;
  text-align: center;
  padding: 10px;
}

#leftHeader,
#zip {
  color: red;
  width: 7px;
  border: 3px solid black;
  border-radius: 5px;
  widows: 50px;
}

.tableart {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: fixed;
  /* width: 100%; */
  color: white;
  bottom: 0;
  background-color: black;
  margin-top: 100px;
  padding: 10px 20px;
}

.footer p,
a {
  font-size: 14px;
}

a {
  color: wheat;
  /* background-color: white; */
}

h2 {
  margin: 5px 5px;
  display: flex;
  justify-content: center;
}

body {
  background-color: antiquewhite;
}

#hide {
  display: none;
}
